# Configuration for running JOS under bochs-2.6.8
romimage: file=$BXSHARE/BIOS-bochs-latest
cpu: count=1, ips=50000000, reset_on_triple_fault=1, ignore_bad_msrs=1, msrs="msrs.def"
cpuid: mmx=1, sep=1, simd=sse4_2, apic=xapic, aes=1, movbe=1, xsave=1
cpuid: stepping=5
memory: guest=512, host=256
vgaromimage: file=$BXSHARE/VGABIOS-lgpl-latest
vga: extension=vbe
ata0: enabled=1, ioaddr1=0x1f0, ioaddr2=0x3f0, irq=14
ata0-master: type=disk, mode=flat, path="obj/kern/kernel.img", cylinders=100, heads=10, spt=10
ata0-slave: type=disk, mode=flat, path="./obj/fs/fs.img", cylinders=128, heads=8, spt=8
boot: disk
floppy_bootsig_check: disabled=0
log: bochs.log
panic: action=ask
error: action=report
info: action=report
debug: action=ignore
debugger_log: -
parport1: enabled=1, file="bochs.parport.log"
mouse: enabled=0
private_colormap: enabled=0
